* {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}

a,
a:active {
  text-decoration: none;
  color: black;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

:root {
  --white-color: #fff;
  --black-color: #000;
  --dark-grey-color: rgb(93, 91, 91);
  --grey-color: rgb(181, 176, 176);
  --light-grey-color: rgb(228, 221, 221);
  --yellow-color: rgb(246, 246, 6);
  --blue-color: rgb(24, 44, 114);
  --light-blue-color: rgb(93, 120, 216);
  --bright-blue-color: rgb(34, 74, 219);
}

main {
  padding-right: 100px;
  padding-left: 100px;
  display: flex;
  font-size: 1.5vw;
}
@media (max-width: 1200px) {
  main {
    padding-right: 50px;
    padding-left: 50px;
    font-size: 2vw;
  }
}
@media (max-width: 560px) {
  main {
    padding: 0px;
    display: block;
    font-size: 4vw;
  }
}

.header__nav {
  position: relative;
  padding: 10px 130px;
  display: flex;
  justify-content: flex-start;
  background: var(--light-blue-color);
}
@media (max-width: 768px) {
  .header__nav {
    padding: 10px 80px;
  }
}
@media (max-width: 560px) {
  .header__nav {
    padding: 10px 30px;
  }
}

.header__nav-title {
  display: inline;
  font-size: 24px;
  cursor: pointer;
}

.header__nav-title:hover + .header__menu {
  display: block;
}

.header__menu:hover {
  display: block;
}

.header__menu {
  position: absolute;
  top: 80%;
  display: none;
  padding: 10px 0;
  border-radius: 5px;
  border: 1px solid var(--black-color);
  background: var(--grey-color);
}

.header__menu-item {
  list-style: none;
  font-size: 1.5vw;
}

.header__menu-link {
  padding: 0 10px;
  display: block;
  color: var(--blue-color);
}
@media (max-width: 560px) {
  .header__menu-link {
    font-size: 4vw;
  }
}

.header__menu-link:hover {
  color: var(--bright-blue-color);
  background: var(--light-grey-color);
}

.resume {
  padding: 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 560px) {
  .resume {
    width: 100%;
  }
}

.main-info {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  animation: appearance 2s 1;
}

.main-info__avatar {
  width: 200px;
  border-radius: 5%;
}
@media (max-width: 992px) {
  .main-info__avatar {
    width: 150px;
  }
}
@media (max-width: 820px) {
  .main-info__avatar {
    width: 100px;
  }
}

.main-info__data {
  padding-left: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-info__name {
  font-size: 3vw;
}

.main-info__vacancy {
  font-size: 2vw;
}
@media (max-width: 560px) {
  .main-info__name,
  .main-info__vacancy {
    font-size: 5vw;
  }
}

.summary {
  margin-bottom: 20px;
  width: 100%;
  animation: move-to-left 1s 1;
}

.resume-header {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.resume-title {
  position: relative;

  text-transform: uppercase;
  font-size: 2vw;
}
@media (max-width: 560px) {
  .resume-title {
    font-size: 4.5vw;
  }
}

.resume-separator {
  flex-grow: 1;
  height: 2px;
  background: var(--blue-color);
}

.resume-img {
  margin-left: auto;
  width: 40px;
}
@media (max-width: 992px) {
  .resume-img {
    width: 30px;
  }
}
@media (max-width: 768px) {
  .resume-img {
    width: 20px;
  }
}

.work {
  animation: move-to-left 1s 1;
}

.work__item {
  margin-bottom: 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10;
  font-size: 23px;
}
@media (max-width: 1100px) {
  .flex {
    font-size: 2vw;
  }
}
@media (max-width: 560px) {
  .flex {
    font-size: 4vw;
  }
}

.work__company {
  font-weight: 600;
}

.accent {
  font-weight: 600;
}

.work__dates {
  font-weight: 600;
}

.projects {
  margin-bottom: 20px;
  animation: move-to-left 1s 1;
}

.project-list {
  margin-bottom: 10px;
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project {
  width: calc(100% / 12 * 4 - 30px);
  margin: 15px;
}
@media (max-width: 1200px) {
  .project {
    width: calc(100% / 12 * 12 - 30px);
  }
}

.project__title {
  text-align: center;
  color: var(--blue-color);
}

.project__title:hover {
  color: var(--bright-blue-color);
}

.project__img {
  padding-bottom: 10px;
  display: block;
  margin: 0 auto;
  width: 95%;
  border-radius: 5px;
  transition: 0.3s;
}

.project__img:hover {
  width: 100%;
}

.project__technologies {
  text-align: justify;
  font-size: 1.4vw;
  color: var(--black-color);
  line-height: 1;
}
@media (max-width: 1200px) {
  .project__technologies {
    font-size: 2vw;
  }
}
@media (max-width: 560px) {
  .project__technologies {
    font-size: 4vw;
  }
}

.projects__link {
  font-weight: 600;
  color: var(--blue-color);
}

.projects__link:hover {
  color: var(--bright-blue-color);
}

.education {
  margin-bottom: 20px;
  width: 100%;
  animation: move-to-left 1s 1;
}

.education__university,
.education__dates {
  font-weight: 600;
}

.modal {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal__content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  border-radius: 5%;
  overflow: hidden;
}

.modal__desc {
  padding: 10px;
  font-size: 2.5vw;
  background: var(--white-color);
}

.additional-info {
  padding: 20px;
  width: 30%;
  display: flex;
  flex-direction: column;
  font-size: 1.8vw;
  line-height: 1.4;
  color: var(--white-color);
  background: var(--blue-color);
  animation: move-to-top 2s 1;
}
@media (max-width: 1200px) {
  .additional-info {
    width: 350px;
  }
}
@media (max-width: 992px) {
  .additional-info {
    width: 290px;
  }
}
@media (max-width: 768px) {
  .additional-info {
    width: 230px;
  }
}
@media (max-width: 560px) {
  .additional-info {
    width: 100%;
    font-size: 4vw;
  }
}

.additional-info__title {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 2vw;
}
@media (max-width: 560px) {
  .additional-info__title {
    font-size: 4vw;
  }
}

.contacts {
  margin-bottom: 20px;
}

.contacts__item {
  display: flex;
  align-items: center;
  transition: 0.4s;
}

.contacts .contacts__item .contacts__desc:hover {
  color: var(--yellow-color);
}

.contacts__img {
  width: 30px;
}
@media (max-width: 1200px) {
  .contacts__img {
    width: 25px;
  }
}
@media (max-width: 992px) {
  .contacts__img {
    width: 20px;
  }
}
@media (max-width: 992px) {
  .contacts__img {
    width: 15px;
  }
}

.contacts__desc {
  margin-left: 10px;
  color: var(--white-color);
}

.links {
  margin-bottom: 20px;
}

.links__item {
  display: flex;
  align-items: center;
  transition: 0.4s;
}

.links .links__item .links__desc:hover {
  color: var(--yellow-color);
}

.links__img {
  width: 30px;
}
@media (max-width: 1200px) {
  .links__img {
    width: 25px;
  }
}
@media (max-width: 992px) {
  .links__img {
    width: 20px;
  }
}
@media (max-width: 992px) {
  .links__img {
    width: 15px;
  }
}

.links__desc {
  margin-left: 10px;
  color: var(--white-color);
}

.languages {
  margin-bottom: 20px;
}

.skills {
  margin-bottom: 20px;
}

.skills__list {
  list-style: none;
}

@keyframes appearance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes move-to-left {
  0% {
    transform: translatex(-300px);
  }
  100% {
    transform: translatex(0);
  }
}

@keyframes move-to-top {
  0% {
    transform: translatey(300px);
  }
  100% {
    transform: translatey(0);
  }
}
